<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-group mt-3">
    <label for="first-name">Nome</label>
    <input
      class="form-control"
      id="first-name"
      type="text"
      formControlName="firstName"
      required
    />
  </div>
  <div class="form-group mt-3">
    <label for="last-name">Cognome</label>
    <input
      class="form-control"
      id="last-name"
      type="text"
      formControlName="lastName"
      required
    />
  </div>
  <div class="form-group mt-3">
    <label for="user-name">User Name</label>
    <input
      class="form-control"
      id="user-name"
      type="text"
      formControlName="username"
      required
    />
  </div>
  <div class="form-group mt-3">
    <label for="email">Mail </label>
    <input
      class="form-control mb-2"
      id="email"
      type="email"
      formControlName="email"
      required
    />
    <span class="text-danger" *ngIf="!mailIsValid"
      >Mail non valida inserire '@'</span
    >
  </div>
  <div class="form-group mt-3">
    <label for="password">Password</label>
    <input
      class="form-control"
      id="password"
      type="password"
      formControlName="password"
      required
    />
  </div>
  <div class="form-group mt-3">
    <label for="password">Conferma Password</label>
    <input
      class="form-control"
      id="confirmPassword"
      type="password"
      formControlName="confirmPassword"
      required
    />
    <span class="text-danger" *ngIf="!passwordsIsValid"
      >Le password non coincidono</span
    >
  </div>

  <button
    class="btn btn-primary mt-3"
    type="submit"
    [disabled]="!profileForm.valid"
  >
    Submit
  </button>
</form>
