<div class="header">
  <div class="container-header">
    <div class="d-flex align-items-center">
      <img
        class="logo"
        src="assets/img/fantasta-low-resolution-logo-color-on-transparent-background.png"
        alt=""
      />
      <span class="ms-2 color-principale fs-1 fw-bolder d-inline h-100"
        >FantaAsta</span
      >
    </div>
    <div>
      <button class="btn color-principale bg-principale me-2 fw-bolder">
        Login
      </button>
      <button
        class="btn color-principale bg-principale fw-bolder"
        [routerLink]="['register']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Registrati
      </button>
    </div>
  </div>
</div>
